.nav {
	display: flex;
	height: 15%;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	position: relative;
	border-bottom: 3px solid #B21CCE;
}

.nav::after {
	border-bottom: 2px solid #36E16C;
	position: absolute;
	bottom: 3px;
	content: "";
}

.img-container {
	height: 110px;
	width: 120px;
	margin: 15px;
}

img {
	height: 100%;
}
.nav-links {
	display: flex;
	align-self: flex-end;
}


.nav-links a {
	padding: 5px;
	margin: 10px;
	background-color: beige;
}