.pet-card-content-wrap {
	margin: 10%;
}

.card-img {
	display: flex;
    max-width: 300px;
    margin: auto;
    border: 3px solid white;
}

img {
	height: 100%;
	width: 100%;
}

.pet-info {
	background-color: black;
	opacity: 0.85;
	color: white;
	padding: 10px;
	margin-top: 20px;
}

ul {
	list-style: none;
}

.description-wrap {
	max-width: 800px;
	max-height: 150px;
}

.read-more {
	max-height: 200px;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
